* {
    
}

.navBar {
    margin:  10px 10% 0 10% ;
}

.navContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */

}

.navContainer >  .navItems  > a {
    padding: 1.0em 1.1em 1.0em 1.1em ;
    margin: 0;
    font-weight: 500;
    text-align: center;
    /* border: 1px solid rgb(12, 9, 9); */
    text-decoration: none;
    color: #231f20;
    transition: all ease-out 0.2s;
    text-transform: lowercase;
    
}

.navContainer >  .navItems  > a:hover {
    color: chocolate;
    text-decoration: underline;
    
}

.navLogo{
    /* border: 1px solid red; */
}

.navLogo   > img {
    height: 100%;
    padding: 0;
    margin: 0;
}

.navItems {
    margin-top: 0px;
}

.navItems > a {
    /* border: 1px solid red; */
    
}